body {
    font-family: Georgia;
    font-size:17px;
    padding:20px;
}

h1 {
    font-family:Helvetica;
    font-size:19px;
    margin-bottom:10px;
}

h2 {
    font-family:Helvetica;
    font-size:12px;
    color:#999;
    margin:0px;
    padding-bottom:5px;
    border-bottom:3px solid #ccc;
}

img {
    max-width:100%;
    height:auto;
    padding:10px;
    border:1px solid #ccc;
}
