body {
    font-family: Trebuchet MS;
    font-size:14px;
}

h1 {
    font-size:19px;
    margin-bottom:10px;
    line-height:95%;
}

h2 {
    font-size:15px;
    color:#999;
    margin:0px;
}

img {
    max-width:100%;
    height:auto;
    }
